@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Lato:wght@300;400;700;900&family=Yeseva+One&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*====================
Common CSS
======================*/
.container {
  max-width: 73.125rem;
  margin: 0 auto;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-title {
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  font-weight: 500;
  color: #cc9900;
  margin-bottom: 60px;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/line-symbol/section_title_border_golden.png);
  background-repeat: no-repeat;
  bottom: -60px;
  left: 50%;
  transform: translateX(-24%);
}
.section-title--white {
  color: #ffffff;
}
.section-title--white::before {
  background-image: url(../../assets/line-symbol/section_title_border_white.png);
}

/*====================
Common Button CSS
======================*/
.btn {
  display: inline-block;
  color: #ffffff;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px 50px;
  z-index: 2;
}
.btn.btn-box {
  border: 1px solid #000000;
  position: relative;
}
.btn.btn-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}
.btn.btn-border {
  border: 1px solid #ffffff;
  position: relative;
}
.btn.btn-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.3;
  z-index: -1;
}

/*====================
Margin & Padding
======================*/
.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

.pt-110 {
  padding-top: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

/*====================
Alignment
======================*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/*====================
Header Area
======================*/
.header {
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  transition: all 0.3s linear;
}
.header.sticky {
  background-color: #000000;
  padding: 5px 0;
}
.header.sticky .header__logo {
  width: 100px;
}
.header.sticky .header__nav-link::before {
  top: -15px;
}
.header__content {
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
  column-gap: 20px;
  align-items: center;
}
.header__logo {
  width: 150px;
  height: auto;
  transition: all 0.3s linear;
}
.header__nav-list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: end;
  column-gap: 20px;
}
.header__nav-item.current .header__nav-link {
  color: #cc9900;
}
.header__nav-link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  padding: 10px;
  position: relative;
}
.header__nav-link::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 0;
  height: 4px;
  top: -35px;
  left: 0;
  transition: all 0.3s linear;
}
.header__nav-link:hover::before {
  width: 100%;
}
.header .social-menu__nav-link {
  color: #cc9900;
  font-size: 1.125rem;
  margin: 0 5px;
}

/*====================
Banner Area
======================*/
.slider__banner {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider__title {
  color: #ffffff;
  font-size: 5.625rem;
  font-family: "Yeseva One", cursive;
  text-transform: lowercase;
  font-weight: 500;
  line-height: 130px;
}
.slider .btn {
  margin: 0 20px;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #cc9900;
  font-size: 1rem;
  color: #cc9900;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slider .slick-arrow.slick-prev {
  left: 100px;
}
.slider .slick-arrow.slick-next {
  right: 100px;
}
.slider .slick-arrow:hover {
  background: #cc9900;
  color: #ffffff;
}
.slider .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.slider .slick-dots li {
  display: inline-block;
  margin: 0 15px;
}
.slider .slick-dots li button {
  border: 1px solid #cc9900;
  font-size: 10px;
  color: #cc9900;
  background: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slider .slick-dots li button:hover {
  background: #cc9900;
  color: #ffffff;
}
.slider .slick-dots li.slick-active button {
  background: #cc9900;
  color: #ffffff;
}

/*====================
About Area
======================*/
.about__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.about__description {
  color: #4c4c4c;
  line-height: 30px;
}

/*====================
Ingredients Area
======================*/
.ingredients__box {
  display: grid;
  grid-template-columns: 585px;
  justify-content: end;
}
.ingredients__content {
  color: #ffffff;
  padding: 70px 50px;
  position: relative;
  z-index: 2;
}
.ingredients__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: -1;
}
.ingredients__description {
  color: #dde0df;
  line-height: 30px;
}
.ingredients__img {
  margin: 0 10px;
}

/*====================
Menu Area
======================*/
.menu__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 250px;
}
.menu__title {
  font-size: 1.313rem;
  color: #c89f2d;
  font-weight: 500;
  font-family: "Yeseva One", cursive;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid #c89f2d;
  margin-bottom: 10px;
}
.menu__price {
  float: right;
}
.menu__item {
  margin-bottom: 50px;
  padding: 10px;
}
.menu__item--special {
  border: 1px solid #c89f2d;
  position: relative;
}
.menu__item--special::after {
  content: "Special";
  position: absolute;
  width: 17%;
  height: 25px;
  background-color: #cc9900;
  color: #ffffff;
  top: -26px;
  right: -1px;
  text-align: center;
}
.menu__description {
  color: #4c4c4c;
}

/*====================
Testimonials Area
======================*/
.reviews__box {
  width: 700px;
  margin: 0 auto;
  padding: 80px;
  position: relative;
  z-index: 2;
}
.reviews__box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}
.reviews__content {
  position: relative;
}
.reviews__content::before {
  content: "\f10d";
  position: absolute;
  font-family: "FontAwesome";
  left: -50px;
  top: -15px;
  color: #4c4c4c;
  font-size: 50px;
}
.reviews__description {
  font-family: "Gentium Book Basic", serif;
  font-size: 1.563rem;
  color: #dde0df;
  line-height: 40px;
  margin-bottom: 30px;
}
.reviews__author {
  color: #ffffff;
  font-size: 1.125rem;
  margin-bottom: 30px;
}
.reviews .slick-dots li {
  display: inline-block;
  margin: 0 5px;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid #c8c6c6;
  padding: 2px;
  transition: all 0.3s ease;
}
.reviews .slick-dots li button {
  text-indent: -9999px;
  background: #c8c6c6;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.reviews .slick-dots li:hover, .reviews .slick-dots li.slick-active {
  border: 1px solid #cc9900;
}
.reviews .slick-dots li:hover button, .reviews .slick-dots li.slick-active button {
  background: #cc9900;
}

/*====================
Contact Area
======================*/

/*# sourceMappingURL=style.css.map */
