// Font Family

$primaryFontFamily: 'Lato', sans-serif;
$secondaryFontFamily: 'Yeseva One', cursive;
$anotherFontFamily: 'Gentium Book Basic', serif;


// Theme Color
$primaryHeadingColor: #cc9900;
$secondaryHeadingColor: #c89f2d;
$primaryFontColor: #4c4c4c;
$secondaryFontColor: #dde0df;
$borderColor: #c8c6c6;
$whiteColor: #ffffff;
$blackColor: #000000;
$footerBgColor: #191919;
$placeholderColor: #757575;



// Font Size

$primaryFontSize: 1rem;        //16px
$secondaryFontSize: 0.875rem;  //14px
$specialFontSize: 1.563rem;    //25px
$primaryHeading: 2.25rem;      //36px
$secondaryHeading: 1.313rem;   //21px
$btnFont: 1.125rem;            //18px
$heroHeading: 5.625rem;        //90px






