@import '../base/variable';

/*====================
Header Area
======================*/

.header{
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  transition: all 0.3s linear;

  &.sticky{
    background-color: $blackColor;
    padding: 5px 0;

    .header__logo{
      width: 100px;
    }

    .header__nav-link::before{
      top: -15px;
    }
  }


  &__content{
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    column-gap: 20px;
    align-items: center;
  }

  &__logo{
    width: 150px;
    height: auto;
    transition: all 0.3s linear;
  }

  &__nav-list{
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: end;
    column-gap: 20px;
  }

  &__nav-link{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    color: $whiteColor;
    padding: 10px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      background-color: $whiteColor;
      width: 0;
      height: 4px;
      top: -35px;
      left: 0;
      transition: all 0.3s linear;
    }

    &:hover{
      &::before{
        width: 100%;
      }
    }
  }

  .social-menu{
    &__nav-link{
      color: $primaryHeadingColor;
      font-size: $btnFont;
      margin: 0 5px;
    }
  }
}

